@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

*{
    margin: 0;
    padding: 0;
}

.space {
margin-top: 2rem;
}

main {
height: 70vh;
/* margin-bottom: 1rem; */
}

.container {
    text-align: center;
    font-size: 2rem;
    background-color: aquamarine;
    color: #777e7e;
    padding: 0rem 3rem 0rem 3rem;
    height: 70vh;
    margin: auto;
}

    h1
{
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0rem;
    padding: 0.5rem 1.0rem;
    color: rgb(38, 1, 73);
}

.btn
{
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    color: rgb(16, 22, 59);
    text-align: center;
    /* margin-top: 2.5rem;
    margin-bottom: 2rem; */
    border-radius: 1rem;
    padding: 0.5rem;
}

.inp
{
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-top: 2rem 1rem;
    width: 40vw;
    color: #000000;
}

.label
{
    color:black;
}
.res
{
    font-size: 1.3rem;
    padding: 3.5rem 1.0rem;
    font-style: normal;
    color: black;
    -webkit-text-stroke: 1px rgb(48, 0, 180);
}

/* .container
{
    margin: auto;
    padding: 1rem 1.0rem;
} */

footer
{
    background-color: black;
    color: white;
    font-size: 1rem;
}

body
{
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

.pd
{
    padding: 1.2rem;
    width: auto;
}

img {
    width: 20px;
    padding: 1rem 0.2rem;
  }